---
layout: default
---

<div class="main-page">

  <p>
    Given a website all clean and fresh, what should one do other than pay homage to the success we all dream of. With that in mind, I respectfully say:
  </p>

  <p class="centre">
    <strong>Hello World</strong><br />
    <i>Welcome to my website/blog</i><br />
    <em>I kiss you</em><br />
  </p>
</div>

<aside class="sidebar">
  {% if site.blog_index_asides.size %}
    {% include_array blog_index_asides %}
  {% else %}
    {% include_array default_asides %}
  {% endif %}
</aside>
